@use 'sass:color';

@use '@smui/common/theme/color-palette';

// EV Charging Log theme (Dark)
@use '@smui/common/theme/index' as theme with (
  $primary: #2dd4bf,
  $secondary: #38bdf8,
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #000,
  $error: color-palette.$red-700
);

html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: theme.$secondary;
}
a:visited {
  color: color.scale(theme.$secondary, $lightness: -35%);
}
